<title>قالب رزومه</title>
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="144x144" href="/site/images/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="/site/images/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/site/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="57x57" href="/site/images/favicons/apple-touch-icon-57x57.png">
<link rel="shortcut icon" href="/site/images/favicons/favicon.png" type="image/png">

<!-- Styles -->
<link rel="stylesheet" type="text/css" href="/site/styles/style.css" />
<link rel="stylesheet" type="text/css" href="/site/styles/style-rtl.css" />
<link rel="stylesheet" type="text/css" href="/site/demo/style-demo.css" />
<link href="/lib/fontawesome/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/custom/css/customStyle.css" rel="stylesheet">